* {
    box-sizing: border-box;
    margin: 0;
}

.score  {
    position: absolute;
    z-index: 10;
    color: white;
    left: 10px;
    top: 10px;
    font-family: sans-serif;
    font-size: 14px;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: black;
}

.container {
    position: relative;
}

